.hotelInfo_slideshow{width: 100%;float: left;overflow: hidden;position: relative;}
.ft-detail-header-img .card-header{ /*height: 235px !important;*/}


.booking_forminner .card-headerPricing{margin-bottom: 12px !important;font-size: 19px !important;font-weight: 500 !important;width:100%;}
.booking_forminner .row .item-input input, .booking_forminner .row .item-input input, .booking_forminner .row .item-input input{width: 100% !important;}
.borderbottom{}
.card-headerPricing{font-size: 17px !important;
    color: #000;
    font-weight: 500;}
.TitleRelease{font-size: 22px !important;    color: #000;}
.color-black{    color: #000 !important;
    font-size: 18px !important;
   }
.Tariff-Details-border{border-bottom: 1px solid #c2c2c2;border-top: 1px solid #c2c2c2 !important;}
.inclusionsPolc{    margin: 0px;text-align: right;display: inherit;font-size: 12px;width: 93%;position: absolute !important;top: 5em !important; }
.color-gray {font-size: 13px !important;
    color: #9e9e9e !important;
    float: left;}
.color-black1{    color: #9e9e9e !important;
    font-size: 15px !important;}

.paddingcontent{padding-top: 3em ;clear: both !important;}
.paddingcontent1{    padding-bottom: 12px;width: 100%;}
.floatbox{float:right;}
.close-popup-ioncsfa{/*float: right;text-transform: uppercase;font-size: 15px;font-weight: 500;    padding: 0px 35px;*/}
.confirmation_header_booking{    font-weight: 500 !important;}
.color1{padding-bottom: 22px;}
.row-inner1{border-right: 1px solid #ddd;}
.confirmation_Tariff-Details .row .col-50 p{font-size:13px;  padding: 8px 0px;}

.confirmation-page-inner{display:none;}
.widthcolumn{width:100% !important;}
.margin_reviewPage{margin: 0px !important;}
.page-content>.card:last-child{    padding: 7px;}
.boderrow{
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 0px 10px 0px;
border-top: 1px solid #ddd;}
.borderbottom {    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;}
	.bookingprice{    padding-left: 16px !important;
    padding-top: 4em !important;
    width: 100%;}
.review-hotel-detailsPage .calendarDatein{width: 50% !important;    border-right: 1px solid #ddd;}	


.review-hotel-detailsPage .calendarDateout{    float: right;
    width: 36% !important;
    border-right: 0px solid #c2c2c2;}
.review-hotel-detailsPage{margin-top: 2em;}